[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "formal/riscv-formal"]
	path = formal/riscv-formal
	url = https://github.com/YosysHQ/riscv-formal.git
